services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 8000:8000
    network_mode: "host"
    volumes:
        - ./:/app
        #- static_volume:/usr/src/app/staticfiles
        - /srv/sakarela/media:app/media
        - ./mypos/private_key.pem:/usr/src/app/keys/private_key.pem:ro
        #depends_on:
        #db:
        #condition: service_healthy
    healthcheck:
      #test: [ "CMD", "curl", "-f", "http://localhost:8000" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 90s  # Increased to allow Gunicorn to stabilize


volumes:
  postgres_data:
  static_volume:
  media_volume:

