version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "sakarela" ]
      interval: 10s
      retries: 5
      start_period: 40s

  web:
    build: .
    env_file:
      - .env
    volumes:
      - static_volume:/usr/src/app/staticfiles
      - media_volume:/usr/src/app/media
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /usr/src/app/
    command: bash -c "/usr/src/app/wait-for-it.sh db:5432 --timeout=60 --strict && /usr/src/app/entrypoint.sh"

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/usr/src/app/staticfiles
      - ./deploy/nginx.conf:/etc/nginx/nginx.conf:ro


volumes:
  postgres_data:
  static_volume:
  media_volume:
