<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-links">
            <ul>
                <li><a href="{% url 'home' %}">Начало</a></li>
                <li><a href="{% url 'about' %}">За Нас</a></li>
                <li><a href="{% url 'store:where_to_buy' %}">Магазини</a></li>
                <li><a href="{% url 'recipe_list' %}">Рецепти</a></li>
                <li><a href="{% url 'products' %}">Продукти</a></li>
                <li><a href="{% url 'contact' %}">Контакти</a></li>
                <li><a href="{% url 'store:store_home' %}">Онлайн магазин</a></li>
            </ul>
        </div>
        <div class="footer-logos">
            <img src="/media/uploads/logos/sakarela_logo.png" alt="Сакарела">
            <img src="/media/uploads/logos/eu-logo.jpg" alt="EU">
            <img src="/media/uploads/logos/program-logo.jpg" alt="Program">
        </div>
        <p class="footer-copy">© Всички права запазени САКАРЕЛА | Designed by Modify</p>
    </div>
</footer> 