{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="recipe-hero">
        <div class="recipe-hero-content">
            <h1 class="recipe-hero-title">За Нас</h1>
        </div>
    </div>
    <section id="about2" class="about-section2">
        <div class="section-container">
            <h2 class="section-title">Повече за Сакарела</h2>
            <p class="about2-text">
                Млекопреработвателното предприятие “Сакарела” ООД е създадено през 1998г. Още в началото продуктите на
                предприятието стават предпочитани заради вкуса и качеството си, обусловени от първокачествени суровини,
                добивани в първокласни ферми. Същевременно “Сакарела” ООД е една от малкото мандри, одобрени за
                експортна
                дейност през 2003 г. с решение 97/252/СЕ на ЕК. В настоящия момент “Сакарела” ООД е най-голямото
                млекопреработвателно предприятие в Ямболски регион.
            </p>

            <h2 class="section-title">Производство</h2>
            <p class="about2-text">
                В предприятието работят 45 души, в това число висококвалифицирани специалисти – микробиолози,
                ветеринарни
                лекари и технолози. Въведена е HAССP система, която идентифицира и дава възможност да бъде контролирано
                проявлението на основните и специфични опасности – биологични, химични и физични. Това са опасности,
                които
                могат да повлияят отрицателно върху безопасността на отделния хранителен продукт. Предлагаме млечни
                продукти
                от краве мляко, които ще Ви припомнят уникалния вкус на истинския кашкавал и сирене.
            </p>
            <div class="about2-image signature">
                <img src="{% static 'uploads/Signature.png' %}" alt="Подпис">
            </div>
        </div>

        <section class="feature-row">
            <div class="feature-list">
                <div class="feature-item">Най-високо качество суровини от доказани ферми</div>
                <div class="feature-item">Вероятно най-големият производител на кашкавал в България</div>
                <div class="info-logo">
                    <img src="{% static 'uploads/traditional_tech_logo.png' %}" alt="100% Българско мляко">
                </div>
                <div class="feature-item">Висококвалифицирани специалисти и технологии</div>
                <div class="feature-item">Модерна и съвременна база за производство</div>
            </div>
        </section>
    </section>
    <section class="team-banner">
        <img src="{% static 'uploads/team_banner.png' %}" alt="Екипът на Сакарела">
    </section>
    <section class="yellow-bar">
        <p>ПРОДУКТИ С ГАРАНТИРАНО КАЧЕСТВО И ПРОИЗХОД</p>
    </section>

{% endblock %}
