{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="products-page">
        <div class="section-container">
            <h2>Продукти</h2>
            <section class="feature-row">
                <div class="feature-list">
                    <div class="feature-item">Най-високо качество суровини от доказани ферми</div>
                    <div class="feature-item">Вероятно най-големият производител на кашкавал в България</div>
                    <div class="info-logo">
                        <img src="{% static 'uploads/traditional_tech_logo.png' %}" alt="100% Българско мляко">
                    </div>
                    <div class="feature-item">Висококвалифицирани специалисти и технологии</div>
                    <div class="feature-item">Модерна и съвременна база за производство</div>
                </div>
            </section>
            <div class="product-grid">
                {% for product in products %}
                    <a href="{% url 'product_detail' product.pk %}">
                        <div class="product-card">
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% if product.badge %}
                                <img src="{{ product.badge.url }}" alt="badge" class="badge-img">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ product.title }}</h3>
                                <p class="card-subtitle">{{ product.badge_text }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
